{% block ai_jqueryslider_widget %}
    {% spaceless %}
        {{ block("hidden_widget") }}
        <div id="{{ id }}_slider_num" class="jqueryslider_number">{{ value ? value : 0 }}</div>
        <div id="{{ id }}_slider"></div>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                var $field = $('#{{ id }}');
                var $configs = $.extend({{ sliderOptions|json_encode|raw }}, {
                    value: {{ value ? value : 0 }},
                    slide: function(event, ui) {
                        $field.val(ui.value);
                        $('#{{ id }}_slider_num').html(ui.value);
                    }
                });
                $('#{{ id }}_slider').slider($configs);
            });
        </script>
    {% endspaceless %}
{% endblock ai_jqueryslider_widget %}